In [1]:
import pandas as pd

In [4]:
df = pd.read_pickle("study.pkl")

In [5]:
df.head()

,study_id,subst_id,normalised_sex,normalised_administration_route,normalised_species,exposure_period_days,report_number
0,13652,AZ_GGA_203287721,BOTH,INTRAVENOUS,RAT,21.0,1358KR
1,13143,AZ_GGA_204260276,M,INTRAVENOUS,MONKEY,30.0,8233306
2,9038,GGA_GSK_SB204269,BOTH,ORAL GAVAGE,RAT,28.0,G95584
3,7753,GGA-NVS-NAV930,BOTH,SUBCUTANEOUS,DOG,28.0,972127
4,10826,AZ_GGA_200000511,M,INTRAVENOUS DRIP,RAT,1.0,1129SR